<table class="myTable">
  <thead>
    <tr>
      <th (click)="onClick()" appToogler [sortToggler]="true" (sortOrder)="getSortOrder($event)">Id <span class="fa fa-caret-down"></span><span class="fa fa-caret-up"></span></th>
      <th (click)="onClick()" appToogler [sortToggler]="false" (sortOrder)="getSortOrder($event)">Name</th>
      <th (click)="onClick()" appToogler [sortToggler]="false" (sortOrder)="getSortOrder($event)">Location</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let h of info">
      <td>{{h.id}}</td>
      <td>{{h.Name}}</td>
      <td>{{h.Location}}</td>
    </tr>
  </tbody>
</table>